card {
  display: inline-block;
  margin: 0 20px;
  position: relative;
  box-sizing: border-box;
  padding-top: 50px;
  height: 200px;
  width: 125px;
  border-radius: 7px;
  border: 2px solid #8c8e8e;
  color: #b7b9b9;
}
card:hover ul li {
  opacity: 1;
}
card ul {
  padding: 0;
  list-style-type: none;
  position: relative;
}
card ul.selected0 li {
  top: 10px;
}
card ul.selected1 li {
  top: -65px;
}
card ul.selected2 li {
  top: -140px;
}
card ul.selected3 li {
  top: -215px;
}
card ul.selected4 li {
  top: -285px;
}
card ul li {
  cursor: pointer;
  opacity: 0;
  line-height: 0;
  position: relative;
}
card ul li.active {
  color: #8c8e8e;
  opacity: 1;
}
card ul li:after {
  width: 100%;
  display: block;
  text-align: center;
  line-height: 75px;
}
card ul li span {
  line-height: 75px;
}

flash span {
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 72px;
  text-align: center;
  opacity: 0;
  transition: font-size 0.5s, opacity 0.5s;
  transition-timing-function: linear;
  top: -200px;
}
flash span.error {
  color: red;
}
flash span.success {
  color: green;
}
flash.phase1 span {
  font-size: 108px;
  opacity: 1;
  top: 200px;
}
flash.phase2 span {
  font-size: 146px;
  opacity: 0;
  top: 200px;
}

operationlist {
  display: inline-block;
  height: 75px;
  color: #b7b9b9;
  position: relative;
  top: -60px;
}
operationlist:hover ul li {
  opacity: 1;
}
operationlist ul {
  padding: 0;
  list-style-type: none;
  position: relative;
}
operationlist ul.add {
  top: 0;
}
operationlist ul.subtract {
  top: -80px;
}
operationlist ul.multiply {
  top: -160px;
}
operationlist ul.divide {
  top: -235px;
}
operationlist ul li {
  height: 75px;
  width: 75px;
  cursor: pointer;
  opacity: 0;
}
operationlist ul li.active {
  color: #8c8e8e;
  opacity: 1;
}
operationlist ul li:after {
  width: 100%;
  display: block;
  text-align: center;
  line-height: 75px;
}
operationlist ul li.add:after {
  content: "\FF0B";
}
operationlist ul li.subtract:after {
  content: "\2212";
}
operationlist ul li.multiply:after {
  content: "\00D7";
}
operationlist ul li.divide:after {
  content: "\00F7";
}

body {
  width: 100%;
  font-family: sans-serif;
  margin: 0;
}
#header {
  height: 100px;
  background-color: grey;
}
#equation {
  width: 1170px;
  margin: auto;
  font-size: 75px;
  text-align: center;
  margin-top: 100px;
}
#equation ul#pieces {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
}
#equation ul#pieces li.result {
  display: inline-block;
  position: relative;
  top: -290px;
}
#equation ul#pieces li.result span:last-child {
  margin-left: 10px;
}
