<html>
<head>
	<link rel="stylesheet" type="text/css" href="/assets/style/style.css" />
	<script type="text/javascript" src="/assets/js/angular.min.js"></script>
	<script type="text/javascript" src="/assets/js/main-min.js"></script>
	<title>WD Boilerplate!</title>
</head>
<body ng-app="Twnty4App" ng-controller="Twnty4Ctrl">
	<div id="header">

	</div>
	<div id="equation">
		<ul id="pieces">
			<card options="options" selection="selections[0]"></card>
			<operationlist operation="operations[0]"></operationList>
			<card options="options" selection="selections[1]"></card>
			<operationlist operation="operations[1]"></operationList>
			<card options="options" selection="selections[2]"></card>
			<operationlist operation="operations[2]"></operationList>
			<card options="options" selection="selections[3]"></card>
			<li class="result"><span>=</span><span>{{total()}}</span></li>
	<div id="bank">

	</div>
</body>
</html>