<html>
<head>
	<link rel="stylesheet" type="text/css" href="/assets/style/style.css" />
	<script type="text/javascript" src="/assets/js/angular.min.js"></script>
	<script type="text/javascript" src="/assets/js/main-min.js"></script>
	<title>WD Boilerplate!</title>
</head>
<body ng-app="Twnty4App" ng-controller="Twnty4Ctrl">
	<div id="header">

	</div>
	<div id="equation">
		<ul id="pieces">
			<card options="[1,2,3,4]" selection="1"></card>
			<operationlist></operationList>
			<card options="[1,2,3,4]" selection="2"></card>
			<operationlist></operationList>
			<card options="[1,2,3,4]" selection="3"></card>
			<operationlist></operationList>
			<card options="[1,2,3,4]" selection="4"></card>
	<div id="bank">

	</div>
</body>
</html>