<html>
<head>
	<link rel="stylesheet" type="text/css" href="/assets/style/style.css" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
	<script type="text/javascript" src="/assets/js/main-min.js"></script>
	<title>WD Boilerplate!</title>
</head>
<body ng-app="Twnty4App" ng-controller="Twnty4Ctrl">
	<div id="header">

	</div>
	<div id="equation">
		<ul id="pieces">
			<li class="number">1</li>
			<operationlist></operationList>
			<li class="number">2</li>
			<operationlist></operationList>
			<li class="number">3</li>
			<operationlist></operationList>
			<li class="number">4</li>
	<div id="bank">

	</div>
</body>
</html>